In [26]:
# Importing Dependencies
import pandas as pd
import numpy as np
from pathlib import Path

In [27]:
# Bringing in Uncleaned CSV's

csv1 = Path("../Module 18 challenge/Resources/201312-citibike-tripdata_1.csv")
csv2 = Path("../Module 18 challenge/Resources/201412-citibike-tripdata_1.csv")
csv3 = Path("../Module 18 challenge/Resources/201512-citibike-tripdata_1.csv")
bike_trip_2013_df = pd.read_csv(csv1)
bike_trip_2014_df = pd.read_csv(csv2)
bike_trip_2015_df = pd.read_csv(csv3)

In [36]:
# Changing The Type of Values for the Gender Column
from numpy import int64


bike_trip_2013_df['gender'] = bike_trip_2013_df['gender'].astype(str)
bike_trip_2014_df['gender'] = bike_trip_2014_df['gender'].astype(str)
bike_trip_2015_df['gender'] = bike_trip_2015_df['gender'].astype(str)

# Replace non-numeric values with NaN
bike_trip_2013_df['birth year'].replace('\\N', np.nan, inplace=True)
bike_trip_2014_df['birth year'].replace('\\N', np.nan, inplace=True)
bike_trip_2015_df['birth year'].replace('\\N', np.nan, inplace=True)

# Convert the column to float first to handle NaNs, then to int
bike_trip_2013_df['birth year'] = bike_trip_2013_df['birth year'].astype(float).astype('Int64')
bike_trip_2014_df['birth year'] = bike_trip_2014_df['birth year'].astype(float).astype('Int64')
bike_trip_2015_df['birth year'] = bike_trip_2015_df['birth year'].astype(float).astype('Int64')

In [29]:
#replace int values in gender column:

replacement_dict = {
    '1': 'Male',
    '2': 'Female',
    '0': 'Unknown'
}

bike_trip_2013_df['gender'] = bike_trip_2013_df['gender'].replace(replacement_dict)
bike_trip_2014_df['gender'] = bike_trip_2014_df['gender'].replace(replacement_dict)
bike_trip_2015_df['gender'] = bike_trip_2015_df['gender'].replace(replacement_dict)

bike_trip_2013_df.head(100)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1015,2013-12-01 00:00:03,2013-12-01 00:16:58,401,Allen St & Rivington St,40.720196,-73.989978,476,E 31 St & 3 Ave,40.743943,-73.979661,14729,Subscriber,1979,Female
1,962,2013-12-01 00:00:07,2013-12-01 00:16:09,312,Allen St & E Houston St,40.722055,-73.989111,223,W 13 St & 7 Ave,40.737815,-73.999947,17871,Subscriber,1970,Female
2,768,2013-12-01 00:00:15,2013-12-01 00:13:03,326,E 11 St & 1 Ave,40.729538,-73.984267,291,Madison St & Montgomery St,40.713126,-73.984844,18508,Subscriber,1982,Female
3,218,2013-12-01 00:00:49,2013-12-01 00:04:27,2021,W 45 St & 8 Ave,40.759291,-73.988597,447,8 Ave & W 52 St,40.763707,-73.985162,17745,Subscriber,1976,Male
4,550,2013-12-01 00:01:28,2013-12-01 00:10:38,439,E 4 St & 2 Ave,40.726281,-73.989780,296,Division St & Bowery,40.714131,-73.997047,16947,Subscriber,1983,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2752,2013-12-01 00:26:39,2013-12-01 01:12:31,343,Clinton Ave & Flushing Ave,40.697940,-73.969868,242,Flushing Ave & Carlton Ave,40.697883,-73.973503,15817,Customer,\N,Unknown
96,588,2013-12-01 00:26:48,2013-12-01 00:36:36,386,Centre St & Worth St,40.714948,-74.002345,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,20135,Subscriber,1979,Male
97,683,2013-12-01 00:27:38,2013-12-01 00:39:01,442,W 27 St & 7 Ave,40.746647,-73.993915,346,Bank St & Hudson St,40.736529,-74.006180,19423,Subscriber,1979,Male
98,736,2013-12-01 00:27:55,2013-12-01 00:40:11,386,Centre St & Worth St,40.714948,-74.002345,410,Suffolk St & Stanton St,40.720664,-73.985180,19412,Subscriber,1970,Female
99,389,2013-12-01 00:28:13,2013-12-01 00:34:42,444,Broadway & W 24 St,40.742354,-73.989151,483,E 12 St & 3 Ave,40.732233,-73.988900,20872,Subscriber,1982,Male

In [37]:
bike_trip_2013_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   Int64
gender                      object
dtype: object

In [38]:
current_year=2024

Age = current_year - bike_trip_2013_df['birth year']
bike_trip_2013_df['age'] = Age

Age2 = current_year - bike_trip_2014_df['birth year']
bike_trip_2014_df['age'] = Age2

Age3 = current_year - bike_trip_2015_df['birth year']
bike_trip_2015_df['age'] = Age3

In [40]:
bike_trip_2015_df.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age
804120,509,12/31/2015 16:50:17,12/31/2015 16:58:46,3242,Schermerhorn St & Court St,40.691029,-73.991834,261,Johnson St & Gold St,40.694749,-73.983625,22282,Subscriber,1957,Male,67
804121,591,12/31/2015 17:17:52,12/31/2015 17:27:43,3242,Schermerhorn St & Court St,40.691029,-73.991834,258,DeKalb Ave & Vanderbilt Ave,40.689407,-73.968855,22366,Subscriber,1978,Male,46
804122,197,12/31/2015 17:56:22,12/31/2015 17:59:39,3242,Schermerhorn St & Court St,40.691029,-73.991834,157,Henry St & Atlantic Ave,40.690893,-73.996123,20663,Subscriber,1959,Male,65
804123,372,12/31/2015 21:20:38,12/31/2015 21:26:50,3242,Schermerhorn St & Court St,40.691029,-73.991834,467,Dean St & 4 Ave,40.683125,-73.978951,19782,Subscriber,1987,Male,37
804124,395,12/31/2015 21:49:19,12/31/2015 21:55:55,3242,Schermerhorn St & Court St,40.691029,-73.991834,418,Front St & Gold St,40.702240,-73.982578,23411,Subscriber,1968,Male,56

In [43]:
# Outputting both files to csv in Outputs folder
Output1 = Path("Outputs/12_2013_citibike_tripdata_cleaned.csv", index=False, header=True)
Output2 = Path("Outputs/12_2014_citibike_tripdata_cleaned.csv", index=False, header=True)
Output3 = Path("Outputs/12_2015_citibike_tripdata_cleaned.csv", index=False, header=True)


bike_trip_2013_df.to_csv(Output1)
bike_trip_2014_df.to_csv(Output2)
bike_trip_2015_df.to_csv(Output3)